{% extends 'temp_base.html' %}


{% block content %}

<style>
    .testing {
        height: 10rem;
        background-color: #38df81;
        border-radius: 1rem;
        margin: 2rem;
    }

    .test{
        background-color: white;
        height: 3rem;
        width: 3rem;
        margin: 1rem;
    }
</style>
    <div class="testing">
        Block 콘텐츠가 있을 경우

        <div class="test" style="display: block;">block</div>
        <div class="test" style="display: inline;">inline</div>
        <div class="test" style="display: None;">None</div>
        <div class="test" style="display: inline-block;">inline-block</div>
        <div class="test" >default</div>
    </div>



{% endblock %}

