{% extends 'temp_base.html' %}
{% load bootstrap4 %}

{% block content %}

<div style="text-align: center;">
    <div>
        <h4>
            다시 오셨군요?
        </h4>
    </div>
    <div style="max-width: 600px;
                margin: 4rem auto;">
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}

            <input type="submit" class="btn btn-dark rounded-pill col-6" style="margin: 1rem auto;">
        </form>
    </div>
</div>


{% endblock %}