{% extends 'temp_base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div style="text-align: center;">
        <div>
            <h4>
                프로필을 만들어볼까요?
            </h4>
        </div>

        <div style="max-width: 600px;
                    margin: 1rem auto;">
            <form action="{% url 'profile_app:make_profile' %}" method="POST"
                  enctype="multipart/form-data"> <!-- # POST 요청시 이미지 파일이 들어갈 경우 enctype에서 다음과 같이 설정 필수 -->
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>

{% endblock %}